*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: rgb(197, 80, 80);
    display: grid; 
    grid-template-columns: minmax(250px, 1fr) 5fr;   
    grid-template-rows: 1fr 5fr;   
}

.sidebar {
    background-color: rgb(82, 101, 186);
    color: white;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-rows: 80px 50px 250px 50px 100px 1fr;
    padding-left: 20px;
    box-shadow: 5px 5px 20px black;
}

.sidebar-title {
    grid-row: 1/2;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: 23px;
    gap: 10px;
}

.icon.main {
    filter: invert(100%);
    width: 40px;
}

.dashboard-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    filter: invert(100%);
    width: 25px;
}

.account {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    grid-row: 3/4;
    /* border: 1px solid black; */
}

.settings {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    grid-row: 5/6;
    /* border: 1px solid black; */
}

.header {
    background-color: aqua;
    grid-column: 2/3;
    grid-row: 1/2;
}

.mainboard {
    background-color:blueviolet;
    grid-column: 2/3;
    grid-row: 2/3;
}